*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin-bottom: 1rem;
  font-size: x-large;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.card-grid {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px;
}

.card-image {
  height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.card-description {
  color: white;
  padding: 10px;
  background-color: #09818e;
  line-height: 1.5rem;
  border-top: 1px solid white;
}

.card-name {
  font-size: 1.2rem;
  margin-bottom: .1em;
}

.card-title {
  font-style: italic;
  font-size: .8rem;
  font-weight: 600;
  margin-bottom: .4em;
}

.card-bio {
  text-align: justify;
}

/* ===================== */
/* TABLET DESIGN */
/* ===================== */
@media (width > 600px) and (width < 1025px) {

  .card {
    flex-direction: row;
  }

  .card-image {
    width: 50%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
  }

  .card-description {
    width: 50%;
    border-left: 1.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* ===================== */
/* DESKTOP DESIGN */
/* ===================== */
@media (width >= 1025px) {

  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}